<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faKeBook</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div>
        <div class="header" id="Header">
            <div class="fb-icon">
                <i class="fa fa-facebook " style="font-size:7.5vh;color:#ffffff;" aria-hidden="true"></i>
                <div class="search-box">
                    <input class="search-input btn btn-light" type="text" placeholder="Search Facebook">

                </div>
                <div class="menu-icon-div">
                    <i class="material-icons menu-icon" onclick="openNav()">menu</i>
                    <span class="tooltiptext">Menu</span>
                </div>

            </div>


        </div>
        <div id="mySidenav" class="sidenav">
            <div class="closebtn" onclick="closeNav()"> <i style="cursor: pointer;" class="material-icons">close</i></div>
            <div class="sidenav-1a"><img class="nav-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2c0_2SaxZX0R0YoEqqFD7DIG1IJA9plS99A&usqp=CAU" alt="profile-pic"><a href="#">XXX</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">people</i> <a href="#">Friends</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">groups</i> <a href="#">Groups</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">store</i> <a href="#">Marketplace</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">ondemand_video</i> <a href="#">Watch</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">history</i> <a href="#">Memories</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">bookmark</i> <a href="#">Saved</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">flag</i> <a href="#">Pages</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">event</i> <a href="#">Events</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">work</i> <a href="#">Jobs</a></div>
            <div class="sidenav-a"><i style="padding-top: 1vh;" class="material-icons">arrow_drop_down_circle</i> <a href="#">More</a></div>

        </div>

        <div class="parent">
            <div class="top-parent" id="top">
                <div class="top" v-for="pic in profilepic">
                    <img class="top-img" :src="pic.pic" alt="profile-pic">
                    <input class="top-input btn btn-light" type="text" placeholder="What's  on your mind,XXX?">
                    <hr class="top-hr">
                    <div class="parent-top-icon">
                        <div class="top-icon" style="text-align: center;">
                            <div class="top-first-icon">
                                <i class="material-icons" style="color: #FF0075;">video_camera_front</i>
                                <p>Live video</p>
                            </div>
                            <div class="top-first-icon">
                                <i class="material-icons" style="color: #6ECB63;">photo_library</i>
                                <p>Photo/ Video</p>
                            </div>
                            <div class="top-first-icon">
                                <i class="material-icons" style="color: #FEC260;">tag_faces</i>
                                <p>Feeling/ Activity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-main">
                <div class="post-margin">
                    <div id="post">

                        <div class="post" v-for="post in postdata">
                            <div class="post-title">
                                <div>
                                    <img class="top-img" :src="post.profilepic" alt=" profile-pic ">
                                </div>

                                <div class="post-heading ">
                                    <p style="font-weight: bold;">{{post.profilename}}</p>
                                    <div class="post-time ">
                                        <p>{{post.time}}</p>
                                        <i class="material-icons global " style="font-size:small; ">public</i>
                                    </div>
                                </div>
                                <div>
                                    <i class="material-icons post-dot-icon ">more_horiz</i>
                                </div>

                            </div>

                            <div class="post-caption ">
                                <p>{{post.caption}}</p>
                            </div>
                            <div>
                                <img class="post-img " :src="post.postpic " alt="picture ">
                            </div>
                            <hr class="top-hr ">
                            <div class="post-bottom ">
                                <div class="like ">
                                    <i class="material-icons " style="padding-right: 2vh; ">thumb_up</i>
                                    <p>Like</p>
                                </div>
                                <div class="comment ">
                                    <i class="material-icons " style="padding-right: 2vh; ">comment</i>
                                    <p>Comment</p>
                                </div>
                                <div class="share ">
                                    <i class="material-icons " style="padding-right: 2vh; ">share</i>
                                    <p>Share</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "50%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        var postdata = new Vue({
            el: '#post',
            data: {
                postdata: [{
                        profilepic: "https://wallpapercave.com/wp/wp2037797.jpg ",
                        profilename: "Taj mahal ",
                        time: "7 h . ",
                        caption: "One of the seven wonders of the world. ",
                        postpic: "https://i.pinimg.com/originals/92/70/9b/92709b0c0acbe201f3aa135bd36823ef.jpg "
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9N2IsIHYPfjkuS71JCCOhrJ0m_c92g19-lw&usqp=CAU ",
                        profilename: "Arun",
                        time: "10 h . ",
                        caption: "I love India. ",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUPIWYhvwY6fHthD2ugWxXZ1qy9Ma7Tr9nTA&usqp=CAU"
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkWciJYKr_9dOPlmdjTtayMDQxLr0Vn_V1Rw&usqp=CAU ",
                        profilename: "web developer",
                        time: "1 d . ",
                        caption: "I like developing Websites.",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTFCVvoKhrtco05dIjakLxeaM-DxSpOvsA_g&usqp=CAU "
                    }, {
                        profilepic: "https://wallpapercave.com/wp/wp2037797.jpg ",
                        profilename: "Taj mahal ",
                        time: "7 h . ",
                        caption: "One of the seven wonders of the world. ",
                        postpic: "https://i.pinimg.com/originals/92/70/9b/92709b0c0acbe201f3aa135bd36823ef.jpg "
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9N2IsIHYPfjkuS71JCCOhrJ0m_c92g19-lw&usqp=CAU ",
                        profilename: "Arun",
                        time: "10 h . ",
                        caption: "I love India. ",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUPIWYhvwY6fHthD2ugWxXZ1qy9Ma7Tr9nTA&usqp=CAU"
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkWciJYKr_9dOPlmdjTtayMDQxLr0Vn_V1Rw&usqp=CAU ",
                        profilename: "web developer",
                        time: "1 d . ",
                        caption: "I like developing Websites.",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTFCVvoKhrtco05dIjakLxeaM-DxSpOvsA_g&usqp=CAU "
                    }, {
                        profilepic: "https://wallpapercave.com/wp/wp2037797.jpg ",
                        profilename: "Taj mahal ",
                        time: "7 h . ",
                        caption: "One of the seven wonders of the world. ",
                        postpic: "https://i.pinimg.com/originals/92/70/9b/92709b0c0acbe201f3aa135bd36823ef.jpg "
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9N2IsIHYPfjkuS71JCCOhrJ0m_c92g19-lw&usqp=CAU ",
                        profilename: "Arun",
                        time: "10 h . ",
                        caption: "I love India. ",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUPIWYhvwY6fHthD2ugWxXZ1qy9Ma7Tr9nTA&usqp=CAU"
                    }, {
                        profilepic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkWciJYKr_9dOPlmdjTtayMDQxLr0Vn_V1Rw&usqp=CAU ",
                        profilename: "web developer",
                        time: "1 d . ",
                        caption: "I like developing Websites.",
                        postpic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTFCVvoKhrtco05dIjakLxeaM-DxSpOvsA_g&usqp=CAU "
                    }



                ]

            }
        })

        var profilepic = new Vue({
            el: '#top',
            data: {
                profilepic: [{
                    pic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2c0_2SaxZX0R0YoEqqFD7DIG1IJA9plS99A&usqp=CAU"
                }]
            }
        })
    </script>

</body>

</html>