body {
    background-color: #D8E3E7;
}


/* header */

.header {
    background-color: #4267B2;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.parent {
    z-index: 2;
    margin-top: 10vh;
}

.fb-icon {
    padding: 2vh;
    display: flex;
}

.search-box i {
    position: absolute;
}

.search-input {
    margin-left: 2vh;
    border-radius: 30px;
    height: 7vh;
}


/* top div */

.top-parent {
    display: flex;
    justify-content: center;
    background-color: #D8E3E7;
}

.top {
    position: relative;
    width: 50%;
    background-color: #ffffff;
    margin-top: 5vh;
    border-radius: 10px;
    margin-bottom: 2vh;
}

.top-input {
    position: absolute;
    width: 80%;
    height: 6vh;
    border-radius: 30px;
    margin-top: 2vh;
    margin-right: 2vh;
}

.top-img {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.top-hr {
    margin-left: 2vh;
    margin-right: 2vh;
}

.top-icon {
    display: flex;
    margin-left: 23%;
    margin-right: 23%;
}

.top-first-icon {
    display: flex;
    padding-top: 1vh;
    padding-right: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    justify-content: center;
}

.top-first-icon p {
    font-size: 2vh;
    font-weight: bold;
}

.top-first-icon:hover {
    background-color: #DDDDDD;
}

.material-icons {
    font-size: 10vh;
}


/* post div */

.post-main {
    display: flex;
    justify-content: center;
    background-color: #D8E3E7;
}

.post-margin {
    display: block;
    position: relative;
    width: 50%;
}

.post {
    margin-bottom: 2vh;
    background-color: #ffffff;
    padding-bottom: 3vh;
    border-radius: 10px;
}

.post-title {
    display: flex;
}

.post-heading {
    margin-top: 3vh;
    line-height: 1vh;
}

.post-time {
    display: flex;
    font-size: smaller;
    margin-top: 1vh;
}

.post-dot-icon {
    position: absolute;
    right: 2vh;
    padding: 1vh;
    border-radius: 50%;
    margin-top: 2vh;
}

.post-dot-icon:hover {
    background-color: #DDDDDD;
}

.post-caption {
    display: block;
    margin-left: 2vh;
    padding-bottom: 1vh;
}

.post-img {
    width: 100%;
    height: 70vh;
    padding-bottom: 2vh;
}

.post-bottom {
    display: flex;
    margin-left: 2vh;
    margin-right: 2vh;
    width: 95%;
    height: 7vh;
}

.like {
    display: flex;
    width: 33%;
    height: 100%;
    padding-top: 2vh;
    border-radius: 5px;
}

.like:hover {
    background-color: #DDDDDD;
}

.comment {
    display: flex;
    width: 34%;
    height: 100%;
    padding-top: 2vh;
    border-radius: 5px;
}

.comment:hover {
    background-color: #DDDDDD;
}

.share {
    display: flex;
    width: 33%;
    height: 100%;
    padding-top: 2vh;
    border-radius: 5px;
}

.share:hover {
    background-color: #DDDDDD;
}